.no_search {
	text-align: center;
}

.SearchResults {
	/* height: calc((100vh - 20vh) * (5 / 6)); */
	height: 100%;
	width: 100%;

	/* overflow-y: auto;
	overflow-x: hidden; */
}

.error {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
