.no_search {
	text-align: center;
}

.SearchResults {
	height: calc((100vh - 20vh) * (5 / 6));
	overflow-y: auto;
	overflow-x: hidden;
}

.error {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 
SearchResults::-webkit-scrollbar {
	width: 11px;
}

SearchResults {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

SearchResults::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

SearchResults::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
} */
