.Background {
	height: 100vh;
	background-image: linear-gradient(140deg, #f9cd76, #f48a7c);
	padding: 100px 100px;
	text-align: center;
}

.Logo_holder {
	width: 100%;
	height: 150px;
	padding: 25px;
	margin-bottom: 25px;
}
