.Background {
	width: 120rem;
	margin: 0 auto;
	padding: 0 2rem;
}

@media only screen and (max-width: 68.75em) {
	.Background {
		width: 100%;
		margin: 0;
	}
}

.container {
	height: 70vh;
	display: flex;
	flex-flow: column;
	align-items: center;
}
