.SearchButton {
	background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
	border-radius: 10rem;
	border: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.2s;
	padding: 1.3rem 3rem;
	font-size: 1.4rem;
}

@media only screen and (width: 1024px) and (height: 1366px) {
	.SearchButton {
		font-size: 2.5rem;
		width: 25rem;
	}
}

@media only screen and (max-width: 50em) {
	.SearchButton {
		padding: 1rem;
	}

	.SearchButton span {
		display: none;
	}

	.SearchButton > *:first-child {
		margin-right: none;
	}
}

@media only screen and (max-width: 800px) {
	.SearchButton {
		padding: 2rem;
	}
}

@media only screen and (max-width: 400px) {
	.SearchButton {
		padding: 1rem;
		transform: translateX(2rem);
	}
}

.SearchButton:hover {
	transform: scale(1.05);
}

.SearchButton:focus {
	outline: none;
}

.SearchButton > *:first-child {
	margin-right: 1rem;
}

.SearchButton svg {
	height: 2.25rem;
	width: 2.25rem;
	fill: currentColor;
}

@media only screen and (width: 1024px) and (height: 1366px) {
	.SearchButton svg {
		height: 3rem;
		width: 3rem;
	}
}

@media only screen and (max-width: 800px) {
	.SearchButton svg {
		height: 4rem;
		width: 4rem;
	}
}

@media only screen and (max-width: 400px) {
	.SearchButton svg {
		height: 4rem;
		width: 4rem;
	}
}
